extends layout_baseGame

block game_content
  // Your vote
  section(class="my-3")
    p(class="alert alert-info", role="alert") You voted for answer #[span(class="fw-bold") &#40; #{sess_user.playerVote} &#41;]
  // Results
  p(class="text-white my-3") You can see the results of this round below
  section(class="card border-primary border-opacity-50 p-2 my-3 accordion", id="resultAccordion")
    each ele in resultData
      div(class="accordion-item")
        h2(class="accordion-header" id="heading_"+ele.letter)
          button(class="accordion-button collapsed", type="button", data-bs-toggle="collapse", 
          data-bs-target="#collapse_"+ele.letter, aria-expanded="false", aria-controls="collapse_"+ele.letter)
            // accordion-header
            div(class="d-flex w-100 justify-content-between align-items-center")
              div(class="container-fluid")
                div(class="row mb-1")
                  div(class="col-auto")
                    p(class="m-0 text-break text-wrap")
                      span(class="text-secondary fw-bold") #{ele.letter}.&#32;
                      span(class="fst-italic")= ele.answer
                div(class="row")
                  div(class="col-auto")
                    p(class="m-0 text-break text-wrap badge text-bg-secondary bg-opacity-50") by #{ele.creator}
              div(class="vr border border-1 border-primary")
              div(class="mx-2")
                p(class="m-0 text-break text-wrap badge rounded-pill text-bg-light bg-opacity-75")= ele.voters.length
        div(id="collapse_"+ele.letter, class="accordion-collapse collapse", aria-labelledby="heading_"+ele.letter, 
        data-bs-parent="#resultAccordion")
          // accordion-body
          div(class="accordion-body", class="border border-2 border-white border-opacity-50 rounded-bottom")
            div(class="container-fluid")
              div(class="row")
                each voter in ele.voters
                  div(class="col-auto")
                    p(class="m-0 text-break text-wrap badge text-bg-secondary bg-opacity-50")= voter
  // Ready for next round form
  form(method='POST', action='', class="my-3")
    // Submit button
    button(type="submit", class="btn btn-secondary w-100") Click if your ready for the next round