extends layout_baseGame

block game_content
  // Your vote
  section(class="my-3")
    p(class="alert alert-info fs-6", role="alert") You voted for answer #[strong &#40; #{sess_user.playerVote} &#41;]
  // Results
  p(class="fs-5 text-white my-3") You can see the results of this round below
  section(class="accordion", id="resultAccordion")
    each ele in resultData
      div(class="accordion-item")
        h2(class="accordion-header" id="heading_"+ele.letter)
          button(class="accordion-button collapsed", class="border border-2 border-secondary border-opacity-50", type="button", data-bs-toggle="collapse", 
          data-bs-target="#collapse_"+ele.letter, aria-expanded="false", aria-controls="collapse_"+ele.letter)
            div(class="container-fluid")
              div(class="row")
                div(class="col-auto")
                  h6(class="text-break text-wrap") #[strong #{ele.letter}.] #{ele.answer}
                div(class="col-auto")
                  h6(class="text-break text-wrap badge text-bg-secondary bg-opacity-50") by #{ele.creator}
        div(id="collapse_"+ele.letter, class="accordion-collapse collapse", aria-labelledby="heading_"+ele.letter, 
        data-bs-parent="#resultAccordion")
          div(class="accordion-body")
            div(class="container-fluid")
              div(class="row")
                each voter in ele.voters
                  div(class="col-auto")
                    div(class="badge text-bg-secondary bg-opacity-50 fs-7")= voter
  // Ready for next round form
  form(method='POST', action='', class="my-4")
    // Submit button
    button(type="submit", class="btn btn-primary w-100") Click if your ready for the next round